<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<h1>Student CRUD</h1>
	
	<a th:href="@{new}">New Student</a>
	
	<table border="1">
   		<thead>
   			<tr>
   				<th>Id</th>
   				<th>Name</th>
   				<th>E-mail</th>
   				<th>Password</th>
   				<th>CEP</th>
   				<th>Birth Date</th>
   				<th>Delete</th>
   			</tr>
   		</thead>
   		<tbody>
   			<tr th:each="student : ${students}">
   				<td><a th:text="${student.id}" th:href="@{editStudent/{id}(id=${student.id})}"></a></td>
   				<td th:text="${student.name}"></td>
   				<td th:text="${student.email}"></td>
   				<td th:text="${student.password}"></td>
   				<td th:text="${student.cep}"></td>
   				<td th:text="${student.birthDate}"></td>
   				<td><a th:href="@{deleteStudent/{id}(id=${student.id})}">X</a></td>
   			</tr>
   		</tbody>
   	</table>
	
</body>
</html>